*{
    box-sizing: border-box;
    
}
.border{
    border: 2px solid black;
}
.card{
    display: block;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 1px 1px 10px black;
    margin: 20px auto;
    border-radius: 20px;
}
.contentContainer{
    padding: 10px;
}
.card p{
    text-align: center;
}
.imgcontainer img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card:hover{
    box-shadow: 1px 1px 0.85rem aqua;
}
.s {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    border: 2px solid black;
}